body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.workspace {
    position: relative;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.container label,
.container select,
.container textarea,
.container button {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #000000;
}

.container button {
    background-color: #ff6b6b;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #ee5253;
}

.result-container {
    margin-top: 20px;
    text-align: center;
}


.result-title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 24px;
}

.result-value {
    font-size: 36px;
    white-space: pre-wrap;
}

.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #f368e0, #00d2d3, #01a9b4, #eccc68);
    background-size: 200% 100%;
    animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
